/* Gestion de la carte */
ion-item.map{
    --background: var(--ion-color-secondary)!important;
    padding: 5px 0 5px 0;
    display: flex!important;
    justify-content: center!important;
    text-align: center!important;
}

svg{
    margin: auto;
}

rect[fill=white]{
    fill: var(--ion-color-primary)!important;
}

/* Gestion des noms des points */
text{
    font-size: 1.2rem;
    max-width: 100px!important;
}

/* Gestion des demandes de points */
ion-select{
    max-width: 100%!important;
    min-width: 100%!important;
}

ion-button {
    width: 100%;
}