ion-content{
    --background: var(--ion-color-secondary)!important;
}

/* Enlève la bordure haut et bas de couleur secondary */
ion-title{
    text-align: center;
    font-weight: bold;
}

/* Radio group */
ion-radio-group{
    display: inline-block;
    height: 200px;
    width: 100%;
    margin-top: 1rem;
}

/* Commentaires */
/* ion-item ion-item.item-textarea, ion-item ion-item.item-textarea ion-textarea{
    width: 100%;
}

ion-item ion-item.item-textarea ion-textarea{
    padding: 0 1% 0 1%;
    width: 100%;
    border: white solid .5px;
    border-radius: 5px;
    margin-bottom: 50px;
} */

/* Questionnaire */

.questionnaire{
    margin-top: 1%;
}

div.swiper-slide{
    border-radius: 5%;
}

/* Option choisie */
ion-item.item-radio-checked{
    --ion-color-base: transparent!important;
    background: var(--ion-color-primary)!important;
}

ion-radio.radio-checked{
    --color-checked: var(--ion-color-secondary);
}

ion-item.item-radio-checked ion-label ion-icon.feedback{
    color: var(--ion-color-secondary);
}

/* Une question */
ion-label.question{
    max-width: unset!important;
    width: 100%!important;
    font-size: 4rem!important;
    padding-bottom: 1%!important;
}

ion-row.question{
    height: 80%!important;
}

ion-grid.slide{
    height: 100%;
}

.swiper-container{
    width: 80%;
    height: 90%;
}

.swiper-slide{
    background: var(--ion-color-primary)
}

/* Les avis de la question */

ion-col.note{
    padding: 0;
    height: 100%;
}

ion-row.notes{
    position: fixed;
    width: 100%;
    bottom: 10%;
    left: 0;
}

ion-icon.feedback{
    color: var(--ion-color-primary);
    font-size: 50px!important;
}

ion-icon.back{
    font-size: 30px;
}

ion-button.back{
    position: fixed;
    bottom: 1%;
    left: 1%;
    height: 40px;
    width: 80px;
}

/* Modal de remerciement */
ion-modal ion-button{
    width: 60px;
    height: 60px;
}

ion-modal.errors ion-item{
    display: flex;
    justify-content: space-between;
}

ion-icon.closeModal{
    font-size: 4rem;
}

/* Labels */
ion-label{
    overflow: visible!important;
}

ion-label.reponse{
    font-size: 1.1rem!important;
    text-align: center;
}

ion-label.commentaire{
    font-size: 1.2rem!important;
}

