ion-content{
    --background: var(--ion-color-secondary)!important;
}

/* Enlève la bordure haut et bas de couleur secondary */
ion-title{
    text-align: center;
    font-weight: bold;
}

/* Radio group */
ion-radio-group{
    display: inline-block;
    height: 200px;
    width: 100%;
    margin-top: 1rem;
}

/* Commentaires */
/* ion-item ion-item.item-textarea, ion-item ion-item.item-textarea ion-textarea{
    width: 100%;
}

ion-item ion-item.item-textarea ion-textarea{
    padding: 0 1% 0 1%;
    width: 100%;
    border: white solid .5px;
    border-radius: 5px;
    margin-bottom: 50px;
} */

/* Questionnaire */

.questionnaire{
    margin-top: 1%;
}

div.swiper-slide{
    border-radius: 5%;
}

/* Option choisie */
ion-item.item-radio-checked{
    --ion-color-base: transparent!important;
    background: var(--ion-color-primary)!important;
}

ion-radio.radio-checked{
    --color-checked: var(--ion-color-secondary);
}

ion-item.item-radio-checked ion-label ion-icon.feedback{
    color: var(--ion-color-secondary);
}

/* Sélection d'une option */

/* Transition */

ion-col.note ion-item{
    transition: --ion-color-base .5s linear 0s;
    transition:  background .5s linear 0s

}

ion-col.note ion-item ion-radio{
    transition: --color .5s linear 0s
}

ion-col.note ion-item ion-label ion-icon.feedback{
    transition: color .5s linear 0s
}

ion-col.note ion-item:hover{
    transition: --ion-color-base .5s linear 0s;
    transition:  background .5s linear 0s;
    --ion-color-base: transparent!important;
    background: var(--ion-color-primary)!important;
}

ion-col.note ion-item:hover ion-radio{
    transition: --color .5s linear 0s;
    --color: var(--ion-color-secondary);
}

ion-col.note ion-item:hover ion-label ion-icon.feedback{
    transition: color .5s linear 0s;
    color: var(--ion-color-secondary);
}

/* Une question */
ion-label.question{
    max-width: unset!important;
    width: 100%!important;
    font-size: 4rem!important;
    padding-bottom: 1%!important;
}

ion-row.question{
    height: 80%!important;
}

ion-grid.slide{
    height: 100%;
}

.swiper-container{
    width: 80%;
    height: 90%;
}

div.swiper-slide{
    visibility: hidden;
}

div.swiper-slide-active{
    visibility: visible;
}

/* Les avis de la question */

ion-col.note{
    padding: 0;
    height: 100%;
}

ion-row.notes{
    position: fixed;
    width: 100%;
    bottom: 10%;
    left: 0;
}

ion-icon.feedback{
    color: var(--ion-color-primary);
    font-size: 50px!important;
}

ion-icon.back{
    font-size: 30px;
}

ion-button.back{
    position: fixed;
    bottom: 0%;
    left: 1%;
    height: 70px;
    width: 80px;
}

/* Labels */
ion-label{
    overflow: visible!important;
}

ion-label.reponse{
    font-size: 1.1rem!important;
    text-align: center;
}

ion-label.commentaire{
    font-size: 1.2rem!important;
}

/* Modal de remerciement */
ion-modal.thanks{
    --background: var(--ion-color-primary);
}

ion-item.thanks{
    font-size: 2rem!important;
}

ion-icon.paperPlane{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 4rem;
}